.onboarding-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.sidebar  {
  width: 220px;
  background-color: #06082f;
  color: white;
  padding: 2rem 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  
}

.sidebar li {
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar li.active {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.onboarding-main {
  flex: 1;
  padding: 2rem;
  background-color: #e2e0e0;
}

.onboarding-main h1 {
  margin-top: 2rem;
  color: #000;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.onboardform {
  background-color: #a6a2a2;
  padding: 2rem;
  border-radius: 8px;
  border: 4px solid #6e7071;
  width: 80%;
  max-width: 900px;
  box-sizing: border-box;
  margin: 3rem auto; /* centers horizontally and adds vertical spacing */
}
.address-section label,
.onboardform label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}

input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  
}

button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #12375e;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #05153b;
}
.filters input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.submit-button {
  margin-top: 1.5rem;
  width: 100%;
 
  
}